# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Virtual environments
.env
.env*/
venv/
venv*/
.venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# Data and outputs
data/dataset.csv
outputs/
*.sqlite3
*.db

# Logs
*.log

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# macOS
.AppleDouble
.LSOverride

# Others
*.bak
*.swp
